# Dependencies
node_modules/

# Environment
.env
.env.local

# Expo
.expo/
.expo-shared/
expo-env.d.ts
web-build/
dist/

# Native build artifacts
android/.gradle/
android/build/
ios/build/
ios/Pods/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
